<h2 class="padding-nav text-center">Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="container">
    <%= f.input :email, autofocus: true %>
    <%= f.input :address %> 
    <%= f.input :telephone %> 
    <%= f.input :personal_telephone %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <%= f.input :password, autocomplete: "off" %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.input :password_confirmation, autocomplete: "off" %>
    <%= f.input :current_password, autocomplete: "off" %>
    <div class="form-group">
      <%= f.button :submit %>
    </div>
    <%= link_to "Back", :back %>

  </div>
<% end %>
