<%= simple_form_for(@shirt, html: { class: 'form-vertical' }) do |f| %>
  <% if @shirt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shirt.errors.count, "error") %> prohibited this shirt from being saved:</h2>
      <ul>
      <% @shirt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <%= f.input :size %>
    <%= f.input :price %>
    <%= f.input :quantity %>
    <%= f.input :description %>
    <%= f.input :photo %>
    <%= f.button :submit %>
    
 
  </div>  

<% end %>
